.ContactData {
    text-align: center;
    margin: 32px auto;
    padding: 32px;
    width: 60%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    border-radius: 16px;
    box-sizing: border-box;
}

.Input {
    display: block;
}

@media(min-width: 600px) {
    .ContactData {
        width: 500px;
    }
}